footer {
    background-color: #343a40;
    color: #fff;
    padding: 3rem 0;
  }

  .social-icons a {
    font-size: 1.25rem;
  }
  .link:hover{
    color: #66B9FF !important;
  }
  .link{
    text-decoration: none;
  }