.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 1100px;
}
.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 2rem;
    border: 5px solid #f3f4f6;
}